/* 제휴문의 메인배너*/
.partnerbanner {width:100%; height:800px; margin:0 auto; background-color: black; padding-top: 68px;}
.bannerwrap {width:100%; height:732px; position:absolute; display: table;}
.bannerimg {width:100%; height:732px; background: url(../img-source/partner-banner.jpg) center; position:absolute; display: table; object-fit: cover; opacity: 0.2; background-size: cover;}
.partnerbanner .bannerwrap .textbox {line-height:1.6;text-align:center; display:table-cell; vertical-align: middle; z-index: 9999;}
.partnerbanner .bannerwrap .textbox h1 {font-size:48px;color:#fff;font-weight: 900; }
.partnerbanner .bannerwrap .textbox p {font-size:21px;color:#fff;margin-top: 32px; width: 378px; padding: 8px; margin-left: auto; margin-right: auto; border:1px solid white; border-radius:100px; font-weight: 900; }

/* 자동 텍스트 효과 */
.partnerbanner .bannerwrap .textbox h1 {animation: move .8s linear both;}
.partnerbanner .bannerwrap .textbox p {animation: move .8s linear both; animation-delay: 1s;}
@keyframes move { from {opacity: 0; transform: translateY(40px);} to {opacity: 1; transform: translateY(0px);}}

/* 파트너 카피문구 */
.partner-info{ width: 100%; height: 100%; background-color:#F8F9FA; padding-top: 80px; padding-bottom: 80px; }
.partner-copy{ max-width:1194px; height: 100%; background-color: #ff8331; border-radius: 16px;  margin-left: auto; margin-right: auto; text-align: center; }
.partner-copy .textbox{display:inline-block; padding:80px 0px 80px 0px;}
.partner-copy .textbox h1{ font-size: 48px; margin-bottom: 24px; color: white; }
.partner-copy .textbox h2{ font-size: 32px; color: white; font-weight: 200; margin-bottom: 32px;}
.partner-copy .textbox p{ font-size: 24px; color: #ff8331; background:white; border-radius:100px; font-weight: 500; width: 390px; display: inline-block; margin-left: 16px; margin-right: 16px; padding: 16px 24px; margin-bottom: 24px;}

/*  제휴&광고 문의 */
.inquiry { width:100%; height: 100%; margin-top: 30px; text-align: center;}
.inquiry-card{ max-width: 582px; height: 100%; background-color: white; box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.16); margin-right: 16px; margin-left: 16px; border-radius: 16px; padding: 24px 32px; display: inline-block; margin-bottom: 30px;}
.inquiry-card img{display: inline-block; margin-right: 34px;}
.inquiry-text{display: inline-block; text-align: left; width: 340px;}
.inquiry-text h1{ font-size: 24px; color: #353C49; margin-bottom: 6px; margin-top: 0; display: inline-block; }
.inquiry-text h2{ font-size: 18px; color: #505866; margin-bottom: 8px; font-weight: 200; }
.inquiry-text p{ font-size: 16px; color: #505866; margin-bottom: 4px; font-weight: 400; }