@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*{ padding: 0; margin: 0; text-decoration: none; list-style: none; box-sizing: border-box; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

header{width: 100%; height:68px; background:white; box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.16); position: fixed; z-index: 10;} 
nav{ background: white; height: 68px; width: 1194px; margin-left: auto; margin-right: auto;  }
.logo-wrap{ float: left; padding: 9px 0px; }
.logo img{ margin-top:9px; width: 111px; }
.menu-wrap{ float: right;  padding: 22px 0px 22px 0px; }
.menu-wrap ul li{ display: inline-block; margin: 0 6px; }
.menu-wrap  ul li a{ color: #ff8331; font-size: 17px; padding: 6px 12px; border-radius: 3px; text-transform: uppercase; }
.menu-wrap  ul li a:hover{ background: #ff8331; color: white; transition: .5s; }
