@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*{ padding: 0; margin: 0; text-decoration: none; list-style: none; box-sizing: border-box; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

/* 헤더 */
header{width: 100%; height:68px; background:white; box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.16); position: fixed; z-index: 10;} 
nav{ background: white; height: 68px; max-width: 1194px; margin-left: auto; margin-right: auto;  }
.logo-wrap{ float: left; padding: 9px 0px; }
.logo img{ margin-top:9px; width: 111px; }
.menu-wrap{ float: right; padding: 22px 0px 22px 0px; }
.menu-wrap ul li{ display: inline-block; margin: 0 6px; }
.menu-wrap  ul li a{ color: #353C49; font-size: 17px; padding: 6px 10px; border-radius: 3px; text-transform: uppercase; }
.menu-wrap  ul li a:hover{ background: #ff8331; color: white; transition: .5s; }

/* 드랍다운 */
.drop-nav {width: 128px; height: 86px; background: white; border-radius: 0px 0px 12px 12px; box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.16); text-align: center; padding: 4px 6px; margin-top: 0px; }
.drop-nav li{padding: 6px}
.drop-nav li a{color: white;  }
.dropdown{ position: relative;}
.dropdown a b{ font-size: 32px; font-weight:900; vertical-align: top; margin-left: 4px; }
.drop-nav{ position: absolute; right:0px; display: none; }
.dropdown:hover > .drop-nav{ display: block; }
.drop-nav  ul li a:hover{ background: white; color: white; transition: .5s; }

/* 푸터 */
.footer-wrap{width: 100%; height: 100%; min-height:288px; background: #111927; padding: 32px 0px 0px 0px; }
.footer{max-width: 1200px; height:100%; margin-right: auto; margin-left: auto; }
.f1{ text-align:left; color:#ffffff; margin-bottom:48px;}
.f1 h1{font-size: 21px;}
.f1 p{font-size: 12px; font-weight: 400; margin-right: 60px;}
.f1 a{float: right; }
.f2{float: left; margin-bottom: 24px;}
.f-info{display: inline-block;color: white;}
.f2 h2{font-size: 12px;font-weight: 100;}
.f2 p{font-size: 14px; font-weight: 400; margin-right: 48px;}
.f3{text-align:right; color:white; font-size: 14px;}
.f3 p{font-weight: 200; text-align: right;}
.f3 p:not(:last-child){margin-bottom: 28px;}
.f-line{width: 100%; height: 1px; background-color: white;}
