/* 프로모션 띠배너*/
.promotion{text-align: center; width: 100%; height: 68px; background: #ff8331; vertical-align: middle; padding: 20px;}
.promotion a{color: white; vertical-align: middle; font-size: 16px; font-weight: 400;}
.promotion b{border: 2px solid; padding: 2px 6px; border-radius: 8px; margin-right: 8px; font-weight: 600; }

/* 상세페이지 */
.pdp{width: 100%; text-align: center;}
.pdp img{width: 90%; }