/* 프로모션 띠배너*/
.promotion{ text-align: center; width: 100%; height: 68px; background: #ff8331; vertical-align: middle; padding: 20px;}
.promotion a{color: white; vertical-align: middle; font-size: 18px; font-weight: 600;}
.promotion b{border: 2px solid; padding: 1px 6px; border-radius: 8px; margin-right: 8px; }


.slider input[id*="slide"] {display:none; }
.slider .slidewrap {max-width:100%; margin:0 auto;}
.slider .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative;background: black; padding: 68px 0px 0px 0px;}
.slider .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;  margin-top: 68px;}
.slider .slidelist > li > a {display:block;position:relative; }
.slider .slidelist > li > a img {width:100%; object-fit: cover; opacity: 0.2;}
.slider .slidelist label {position:absolute;z-index:10;top:50%;transform:translateY(+20%);padding:50px;cursor:pointer;}
.slider .slidelist .textbox {position:absolute;z-index:1;top:50%;left:50%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}
.slider .slidelist .textbox p {font-size:21px;color:#fff; background-color:#ff8331; opacity:0;transform:translateY(40px);transition:all 1s; font-weight: 200; margin-bottom: 16px; width: 240px; padding: 8px; margin-left: auto; margin-right: auto; border-radius:100px; font-weight: 900; }
.slider .slidelist .textbox h1 {font-size:48px;color:#fff;opacity:0;transform:translateY(40px);transition:all 1.5s; font-weight: 200; }
.slider .slidelist .textbox h2 {font-size:48px;color:#fff;opacity:0;transform:translateY(40px);transition:all 1.5s; font-weight: 900;}

/* input에 체크되면 슬라이드 효과 */
.slider input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.slider input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.slider input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}

/* input에 체크되면 텍스트 효과 */
.slider input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox h1 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.slider input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox h2 {opacity:1;transform:translateY(0);transition-delay:.4s;}
.slider input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox h1 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.slider input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox h2 {opacity:1;transform:translateY(0);transition-delay:.4s;}
.slider input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.slider input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}

/* 좌,우 슬라이드 버튼 */
.slide-control > div {display:none;}
.slider .left {left:32px;background:url('../img-source/left.svg') center center / 30% no-repeat;}
.slider .right {right:32px;background:url('../img-source/right.svg') center center / 30% no-repeat;}
.slider input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
.slider input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
.slider input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}

/* 페이징 */
.slide-pagelist {text-align:center;}
.slide-pagelist > li {display:inline-block;vertical-align:middle;}
.slide-pagelist > li > label {display:block;padding:4px 32px;background:#D2D6DA; margin:20px 10px;cursor:pointer;}
.slider input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:#505866;}
.slider input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:#505866;}

/* 세븐미어캣 가치 */
.value-wrap{ width: 100%; height: 100%; padding:60px 0px 80px 0px; }
.value-wrap h1{text-align: center; color: #353C49; font-weight: 300; font-size: 36px; }
.value-wrap b{color:#ff8331;}
.value{ width: 1194px; height: 100%; margin-left: auto; margin-right: auto; display: flex; margin-top: 48px; }
.value-inno{ margin-right: 15px;}
.value-con{ margin-left: 15px; margin-right: 15px;}
.value-win{ margin-left:15px; }
.value h2{ color: #353C49; margin-top: 16px; font-size: 28px; }
.value h3{ color: #505866; font-weight: 400; margin-top: 2px; font-size: 24px; }
.value p{ color: #505866; font-weight: 300; margin-top: 12px; font-size: 21px;}