@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500&display=swap');

/* 제휴문의 메인배너*/
.partnerbanner {width:100%; height:800px; margin:0 auto; background-color: white; padding-top: 68px;}
.bannerwrap {width:100%; height:732px; position:absolute; display: table;background: url(../img-source/company_banner.png) center; position:absolute; display: table; object-fit: cover;  background-size: cover; }
.titlewrap{display: table-cell; vertical-align: middle; text-align: center;}
.platform{width: 492px; height: 492px; display: inline-block;background: url(../img-source/platform-info.svg) center; vertical-align: middle; margin-right: 102px ;}
.textbox {text-align:left; display: inline-block; vertical-align: middle;}
.textbox p {font-size:26px;color:#fff; background-color:#ff8331; margin-bottom: 16px; width: 290px; padding: 9px 24px; border-radius:100px; font-weight: 900; }
.textbox h1 {font-size:48px;color:#353C49;font-weight: 900; }
.textbox h2 {font-size:32px;color:#505866;margin-top: 24px; font-weight: 400; }

/* 자동 텍스트 효과 */
.platform{animation: move .8s linear both; }
.partnerbanner .bannerwrap .textbox p {animation: move .8s linear both; }
.partnerbanner .bannerwrap .textbox h1 {animation: move .8s linear both;}
.partnerbanner .bannerwrap .textbox h2 {animation: move .8s linear both; }
@keyframes move { from {opacity: 0; transform: translateY(40px);} to {opacity: 1; transform: translateY(0px);}}

.title h1{ font-size: 32px; color: #ff8331; text-align: left; margin-bottom: 8px; }
.company-text p{ font-size: 26px; color: #505866; text-align: left; margin: 0; font-weight:400; }


/* 기업정보들 */
.company-wrap{ width: 100%; height: 100%; background-color:white; padding-top: 80px; padding-bottom: 80px; }
.company-wrap:nth-child(even){background-color: #F8F9FA;}
.company { max-width:1194px; height: 100%; text-align: center; margin-left: auto; margin-right: auto;}
.company-text{text-align: left; display: flex; justify-content: space-between;}
.company-text1{vertical-align: top;display: inline-block; }
.company-text2{vertical-align: top; display: inline-block; margin-left: 56px;}
.company-text h1{font-size: 21px; color: #353C49; font-weight: 400; margin-bottom: 32px; font-family: 'Noto Serif KR', serif; line-height: 2;}
.company-text1 p, .company-text2 p{font-size: 21px; color: #353C49; font-weight: 400; line-height: 2.5; display: inline-block; margin-bottom: 32px; font-family: 'Noto Serif KR', serif; }
.company-text b{font-family: 'Noto Serif KR', serif; text-align: right;}

@media (max-width: 425px){
    /* 제휴문의 메인배너*/
.partnerbanner {width:100%; height:500px; margin:0 auto; background-color: white; padding-top: 48px;}
.bannerwrap {width:100%; height:500px; position:absolute; display: table; background: url(../img-source/company_banner.png) center; position:absolute; display: table; object-fit: cover;  background-size: cover; }
.titlewrap{display: table-cell; vertical-align: middle; text-align: center;}
.platform{width: 240px; height: 240px; display: inline-block;background: url(../img-source/platform-info.svg) center; background-size:cover; vertical-align: middle; margin: auto;  }
.textbox {text-align:left; display: inline-block; vertical-align: middle; text-align: center; }
.textbox p {font-size:16px;color:#fff; background-color:#ff8331; width: 200px; padding: 9px 24px; border-radius:100px; font-weight: 900; margin: auto; margin-bottom: 8px; margin-top: 12px; }
.textbox h1 {font-size:21px;color:#353C49;font-weight: 900; }
.textbox h2 {font-size:16px;color:#505866;margin-top:12px; font-weight: 400; }

/* 자동 텍스트 효과 */
.platform{animation: move .8s linear both; }
.partnerbanner .bannerwrap .textbox p {animation: move .8s linear both; }
.partnerbanner .bannerwrap .textbox h1 {animation: move .8s linear both;}
.partnerbanner .bannerwrap .textbox h2 {animation: move .8s linear both; }
@keyframes move { from {opacity: 0; transform: translateY(40px);} to {opacity: 1; transform: translateY(0px);}}

.title h1{ font-size: 24px; color: #ff8331; text-align: left; margin-bottom: 0px; }
.company-text p{ font-size: 21px; color: #505866; text-align: left; margin: 0; font-weight:400; margin-bottom: 12px; }


/* 기업정보들 */
.company-wrap:nth-child(3){padding:80px 16px; }
.company-wrap{ width: 100%; height: 100%; background-color:white; padding:40px 16px; }
.company-wrap:nth-child(even){background-color: #F8F9FA;}
.company {  height: 100%; text-align: center; margin-left: auto; margin-right: auto;}
.company-text{text-align: left; display: flex; flex-direction: column;}
.company-text1{vertical-align: top;display: inline-block; }
.company-text2{vertical-align: top; display: inline-block; margin-left: 56px;}
.company-text h1{font-size: 12px; color: #353C49; font-weight: 400; margin-bottom: -4px; margin-top: -4px; font-family: 'Noto Serif KR', serif; line-height: 2;}
.company-text1 p, .company-text2 p{font-size: 12px; color: #353C49; font-weight: 400; line-height: 2; display: inline-block; margin-bottom: 0px; font-family: 'Noto Serif KR', serif; }
.company-text b{font-family: 'Noto Serif KR', serif; text-align: right;}
}
